

#intro{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://st2.depositphotos.com/3591429/7809/i/600/depositphotos_78099218-stock-photo-career-goal-expertise-concept.jpg");
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}